body {
    background-color: rgb(214, 216, 216);
}

.URL {
    float: left;
    width: 30%;
    margin: 0px 0px 10000px 0px;
    padding: 0px 0px 30px 0px;
    background-color:rgb(183, 215, 242)
}

.URL2 {
    line-height: 30px
}

h1 {
    font-size: 55px;
    color:rgb(65, 65, 117);
}

h2 {
    font-size: 40px;
}

.content {
    padding-right: 10px;
}

strong {
    text-decoration: underline;
}

.flower{
    display:flex;
}

body{
    font-family:serif;
}